
.vs/programacao-inteira/v16/.suo
.vs/programacao-inteira/v16/Browse.VC.db
.vs/programacao-inteira/v16/ipch/AutoPCH/fd62594e05cb10e/PI.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
pi.cpp
pi.cpp
pi.exe
pi.o
pi.cpp
pi.cpp
teste.cpp
teste.exe
teste.o
makefile.bat
.vscode/settings.json
.vscode/settings.json
*.json
.vscode/settings.json
main2.cpp
main2.exe
main2.exe
main2.exe
*.json
.vscode/launch.json
.vscode/settings.json
teste-lucas.cpp
teste-lucas.exe
pi-teste.exe
.idea/misc.xml
.idea/modules.xml
.idea/programacao-inteira.iml
.idea/vcs.xml
*.cmake
cmake-build-debug/CMakeCache.txt
*.bin
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
*.exe
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
*.check_cache
*.log
cmake-build-debug/CMakeFiles/Makefile2
*.make
*.includecache
*.internal
cmake-build-debug/CMakeFiles/programacao-inteira.dir/link.txt
*.rsp
*.obj
*.a
*.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/programacao-inteira.cbp
cmake-build-debug/Makefile
cmake-build-debug/entrada6.txt
cmake-build-debug/entrada5.txt
cmake-build-debug/entrada4.txt
cmake-build-debug/entrada2.txt
cmake-build-debug/entrada.txt
cmake-build-debug/entrada1.txt
cmake-build-debug/entrada3.txt
CMakeLists.txt
CMakeLists.txt
entrada0.txt
