
.vs/programacao-inteira/v16/.suo
.vs/programacao-inteira/v16/Browse.VC.db
.vs/programacao-inteira/v16/ipch/AutoPCH/fd62594e05cb10e/PI.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
pi.cpp
pi.cpp
pi.exe
pi.o
pi.cpp
pi.cpp
